<div id="alert-container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="lowLightAlert">
        <strong>It's too dark !</strong> Let's turn on the light.
        <button type="button" onclick="lowLightAlertHide()" aria-label="Close" class="close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="highLightAlert">
        <strong>It's too bright !</strong> Let's turn off the light.
        <button type="button" onclick="highLightAlertHide()" aria-label="Close" class="close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="lowSoilAlert">
        <strong>It's too dry !</strong> Let's turn on the water pump.
        <button type="button" onclick="lowSoilAlertHide()" aria-label="Close" class="close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="highSoilAlert">
        <strong>It's too wet !</strong> Let's turn off the water pump.
        <button type="button" onclick="highSoilAlertHide()" aria-label="Close" class="close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>