<div class="d-flex justify-content-between">
    <div class="p-2 bg-light">Multi-disciplinary Project &copy; 2021</div>
    <div class="p-2 bg-light">Powered by FWB Team</div>
    <a  class="p-2 bg-light" href="/logout">Logout</a>
</div>
