<div class="c-sidebar-brand d-lg-down-none">
<img src="logo_bk.png" alt="logo_bk" style="width:150px;height:150px;">
</div>

<ul class="c-sidebar-nav">
<li class="c-sidebar-nav-item">
	<a class="c-sidebar-nav-link" href="/">
	<i class="c-sidebar-nav-icon cil-speedometer"></i> Dashboard
	</a>
</li>

<li class="c-sidebar-nav-title">Utilities</li>

<li class="c-sidebar-nav-item">
	<a class="c-sidebar-nav-link" href="/light">
	<i class="c-sidebar-nav-icon cil-lightbulb"></i> Light
	</a>
</li>

<li class="c-sidebar-nav-item">
	<a class="c-sidebar-nav-link" href="/water_pump">
	<i class="c-sidebar-nav-icon cil-shower"></i> Water Pump
	</a>
</li>
<li class="c-sidebar-nav-item">
	<a class="c-sidebar-nav-link" href="/prediction">
	<i class="c-sidebar-nav-icon cil-shower"></i> Prediction
	</a>
</li>
<li class="c-sidebar-nav-item mt-auto">
	<a class="c-sidebar-nav-link c-sidebar-nav-link-danger" href="/logout">
	<i class="c-sidebar-nav-icon cil-power-standby"></i>Logout</a>
</li>
<li class="c-sidebar-nav-item">
	<a class="c-sidebar-nav-link">
	<i class="c-sidebar-nav-icon cil-info"></i> Version 1.0
	</a>
</li>

</ul>