<!doctype html> 
<html lang="en">
    <head>
        <%- include('partials/head')%>
        <link rel="stylesheet" href="css/clock.css">
    </head>

    <body class="c-app">

        <div class="c-sidebar c-sidebar-dark c-sidebar-show c-sidebar-fixed">
            <%- include('partials/sidebar')%>
        </div>

        <div class="c-wrapper">

            <%- include('partials/alert')%>

            <header>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0 ms-2">
                        <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Home</span>
                        </li>
                        <li class="breadcrumb-item active"><span>Dashboard</span></li>
                    </ol>
                    </nav>
                </div>
            </header>

            <div class="c-body">

                <main class="c-main">
        
                    <div class="container-fluid">

                        <div class="card-deck">

                            <div class="card bg-dark text-white">
                                <div class="card-header"><strong>Date and Time</strong></div>

                                <div class="card-body">
                                    <div id="clock-container">
                                        <p id="time"></p>
                                        <p id="date"></p>
                                    </div>
                                </div>

                            </div>

                            <div class="card bg-warning text-white">
                                <div class="card-body">
                                    <div id="text-current-light-value" style="font-size: 2rem; font-weight: 700;">Getting...</div>
                                    <div>Light</div>
                                    <img src="barchart.png" alt="barchart" style="height: 5rem; width: 100%;">
                                </div>
                            </div>

                            <div class="card bg-info text-white">
                                <div class="card-body">
                                    <div id="text-current-soil-value" style="font-size: 2rem; font-weight: 700;">Getting...</div>
                                    <div>Soil</div>
                                    <img src="linegraph.png" alt="linegraph" style="height: 5rem; width: 100%;">
                                </div>
                            </div>

                            <div class="card bg-danger text-white">
                                <div class="card-body">
                                    <div id="text-current-temp-value" style="font-size: 2rem; font-weight: 700;">Getting...</div>
                                    <div>Temperature</div>
                                    <img src="areachart.png" alt="areachart" style="height: 5rem; width: 100%;">
                                </div>
                            </div>

                            <div class="card bg-primary text-white">
                                <div class="card-body">
                                    <div id="text-current-humid-value" style="font-size: 2rem; font-weight: 700;">Getting...</div>
                                    <div>Humidity</div>
                                    <img src="curvedlinegraph.png" alt="curvedlinegraph" style="height: 5rem; width: 100%;">
                                </div>
                            </div>

                        </div>

                        <hr>

                        <div class="card">
                            <div class="card-body">

                                <button type="button" onclick="sortStyle('light', 'day')" class="btn btn-twitter"><span class="cil-calendar btn-icon mr-2"></span> Day</button>
                                <button type="button" onclick="sortStyle('light', 'month')" class="btn btn-vimeo"><span class="cil-calendar btn-icon mr-2"></span> Month</button>
                                <button type="button" onclick="sortStyle('light', 'year')" class="btn btn-xing"><span class="cil-calendar btn-icon mr-2"></span> Year</button>

                                <canvas id="light_chart"></canvas>

                                <hr>
                                <p class="card-text"><strong>State of light</strong></p>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">

                                <button type="button" onclick="sortStyle('soil', 'day')" class="btn btn-twitter"><span class="cil-calendar btn-icon mr-2"></span> Day</button>
                                <button type="button" onclick="sortStyle('soil', 'month')" class="btn btn-vimeo"><span class="cil-calendar btn-icon mr-2"></span> Month</button>
                                <button type="button" onclick="sortStyle('soil', 'year')" class="btn btn-xing"><span class="cil-calendar btn-icon mr-2"></span> Year</button>

                                <canvas id="soil_chart"></canvas>

                                <hr>
                                <p class="card-text"><strong>State of soil</strong></p>

                            </div>
                        </div>

                    </div>
                </main>
            </div>

            <footer class="c-footer">
                <%- include('partials/footer')%>
            </footer>

        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then CoreUI JS
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
        -->

        <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"></script>
        <script src="sensor_data.js"></script>
        <script src="index.js"></script>
        -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="index.js"></script>
    </body>
</html>