<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CoreUI CSS -->
        <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/free.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/brand.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/flag.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
        <script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>

        <title>Smart Farm System</title>
    </head>

    <body class="c-app">

        <div class="c-sidebar c-sidebar-dark c-sidebar-show">

            <div class="c-sidebar-brand d-lg-down-none">
                <img src="logo_bk.png" alt="logo_bk" style="width:150px;height:150px;">
            </div>

            <ul class="c-sidebar-nav">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/">
                    <i class="c-sidebar-nav-icon cil-speedometer"></i> Dashboard
                    </a>
                </li>

                <li class="c-sidebar-nav-title">Statistic</li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/light_system_statistic">
                    <i class="c-sidebar-nav-icon cil-bolt"></i> Light System
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/water_pump_system_statistic">
                    <i class="c-sidebar-nav-icon cil-drop"></i> Water Pump System
                    </a>
                </li>

                <li class="c-sidebar-nav-title">Utilities</li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/notification">
                    <i class="c-sidebar-nav-icon cil-layers"></i> Notification
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/database">
                    <i class="c-sidebar-nav-icon cil-storage"></i> Database
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/light">
                    <i class="c-sidebar-nav-icon cil-lightbulb"></i> Light
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/water_pump">
                    <i class="c-sidebar-nav-icon cil-shower"></i> Water Pump
                    </a>
                </li>
            </ul>
            </div>

        <div class="c-wrapper">

            <header>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0 ms-2">
                        <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Statistic</span>
                        </li>
                        <li class="breadcrumb-item active"><span>Light System</span></li>
                    </ol>
                    </nav>
                </div>
            </header>

            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">

                        <div class="card">
                            <div class="card-body">

                                <canvas id="light_chart"></canvas>

                                <p class="card-text">Representing the state of light system</p>
                                <!--
                                <button type="button" onclick="loadLightChart()" class="btn btn-primary"><span class="cil-chart btn-icon mr-2"></span> Load chart</button>
                                -->
                            </div>
                        </div>

                    </div>
                </main>
            </div>

            <footer class="c-footer">
                <div>Multi-disciplinary Project &copy; 2021 Powered by FWB Team</div>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then CoreUI JS -->
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
        <script src="light_graph.js"></script>
    </body>
</html>