<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head')%>
    </head>

    <body class="c-app">

        <div class="c-sidebar c-sidebar-dark c-sidebar-show c-sidebar-fixed">
            <%- include('partials/sidebar')%>
        </div>

        <div class="c-wrapper">

            <header>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0 ms-2">
                        <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Statistic</span>
                        </li>
                        <li class="breadcrumb-item active"><span>Light System</span></li>
                    </ol>
                    </nav>
                </div>
            </header>

            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">

                        <div class="card">
                            <div class="card-body">

                                <canvas id="light_chart" ></canvas>

                                <p class="card-text">Representing the state of light system</p>
                                <!--
                                <button type="button" onclick="loadLightChart()" class="btn btn-primary"><span class="cil-chart btn-icon mr-2"></span> Load chart</button>
                                -->
                            </div>
                        </div>

                    </div>
                </main>
            </div>

            <footer class="c-footer">
                <%- include('partials/footer')%>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then CoreUI JS
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
        -->

        <script src="/socket.io/socket.io.js"></script>
        <script src="light_graph.js"></script>
    </body>
</html>