<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head')%>
    </head>

    <body class="c-app">

        <div class="c-sidebar c-sidebar-dark c-sidebar-show c-sidebar-fixed">
            <%- include('partials/sidebar')%>
        </div>

        <div class="c-wrapper">

            <%- include('partials/alert')%>

            <header>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0 ms-2">
                        <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Utilities</span>
                        </li>
                        <li class="breadcrumb-item active"><span>Light</span></li>
                    </ol>
                    </nav>
                </div>
            </header>

            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">

                        <div class="card-deck">

                            <div class="card">
                                <div class="card-header"><strong>Current State</strong></div>

                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="c-callout c-callout-info b-t-1 b-r-1 b-b-1">
                                                <small class="text-muted">Light</small><br>
                                                <strong id="textOn" class="h4">On</strong>
                                                <strong id="textOff" class="h4">Off</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="c-callout c-callout-danger b-t-1 b-r-1 b-b-1">
                                                <small class="text-muted">Light sensor</small><br>
                                                <strong id="textCurrentLightValue" class="h4"></strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">

                                    <p><strong class="card-text">Automatic mode</strong></p>

                                    <label class="c-switch c-switch-pill c-switch-primary">
                                        <input type="checkbox" class="c-switch-input" checked>
                                        <span class="c-switch-slider"></span>
                                    </label>

                                    <hr>

                                    <p class="card-text">Get the data of sensors and turn on/off light system automatically</p>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">

                                    <p><strong class="card-text">Switch</strong></p>

                                    <button type="button" onclick="turnOn()" class="btn btn-success"><span class="cil-power-standby btn-icon mr-2"></span> Turn on</button>
                                    <button type="button" onclick="turnOff()" class="btn btn-danger"><span class="cil-power-standby btn-icon mr-2"></span> Turn off</button>

                                    <hr>

                                    <p class="card-text">Turn on/off the light system manually</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <br>

                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-body">

                                <button type="button" onclick="sortStyle('day')" class="btn btn-twitter"><span class="cil-contrast btn-icon mr-2"></span> Day</button>
                                <button type="button" onclick="sortStyle('month')" class="btn btn-vimeo"><span class="cil-contrast btn-icon mr-2"></span> Month</button>
                                <button type="button" onclick="sortStyle('year')" class="btn btn-xing"><span class="cil-contrast btn-icon mr-2"></span> Year</button>

                                <div class="chart-container">
                                    <canvas id="light_chart" height = "10rem" width = "20rem"></canvas>
                                </div>
                                <hr>
                                <p class="card-text"><strong>State of light system</strong></p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            <footer class="c-footer">
                <%- include('partials/footer')%>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then CoreUI JS 
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
        -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="light.js"></script>
    </body>
</html>