<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head')%>
    </head>

    <body class="c-app" onload="init(), getData()">

        <div class="c-sidebar c-sidebar-dark c-sidebar-show">

            <div class="c-sidebar-brand d-lg-down-none">
                <img src="logo_bk.png" alt="logo_bk" style="width:150px;height:150px;">
            </div>

            <ul class="c-sidebar-nav">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/">
                    <i class="c-sidebar-nav-icon cil-speedometer"></i> Dashboard
                    </a>
                </li>

                <li class="c-sidebar-nav-title">Statistic</li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/light_system_statistic">
                    <i class="c-sidebar-nav-icon cil-bolt"></i> Light System
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/water_pump_statistic">
                    <i class="c-sidebar-nav-icon cil-drop"></i> Water Pump System
                    </a>
                </li>

                <li class="c-sidebar-nav-title">Utilities</li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/notification">
                    <i class="c-sidebar-nav-icon cil-layers"></i> Notification
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/database">
                    <i class="c-sidebar-nav-icon cil-storage"></i> Database
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/light">
                    <i class="c-sidebar-nav-icon cil-lightbulb"></i> Light
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/water_pump">
                    <i class="c-sidebar-nav-icon cil-shower"></i> Water Pump
                    </a>
                </li>
            </ul>
            </div>

        <div class="c-wrapper">

            <header>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0 ms-2">
                        <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Utilities</span>
                        </li>
                        <li class="breadcrumb-item active"><span>Light</span></li>
                    </ol>
                    </nav>
                </div>
            </header>

            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">

                        <div class="card">
                            <div class="card-body">

                                <p class="card-text">State of light system</p>

                                <label class="c-switch c-switch-pill c-switch-primary">
                                    <input type="checkbox" class="c-switch-input" checked>
                                    <span class="c-switch-slider"></span>
                                </label>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">

                                <p class="card-text">Turn on/off the light system</p>
                                <button type="button" onclick="turnOn()" class="btn btn-success"><span class="cil-power-standby btn-icon mr-2"></span> Turn on</button>
                                <button type="button" onclick="turnOff()" class="btn btn-danger"><span class="cil-power-standby btn-icon mr-2"></span> Turn off</button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">

                                <p class="card-text">Recent feeds</p>
                                <button type="button" onclick="refreshTable()" class="btn btn-reddit"><span class="cil-reload btn-icon mr-2"></span> Refresh</button>
                                <br><br>

                                <table class="table table-borderless table-striped" id="recent-feeds-table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Data</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- will be added in runtime-->
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </main>
            </div>

            <footer class="c-footer">
                <%- include('partials/footer')%>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then CoreUI JS 
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
        -->
        <script src="light.js"></script>
    </body>
</html>