<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head')%>
    </head>

    <body class="c-app">

        <div class="c-sidebar c-sidebar-dark c-sidebar-show">

            <div class="c-sidebar-brand d-lg-down-none">
                <img src="logo_bk.png" alt="logo_bk" style="width:150px;height:150px;">
            </div>

            <ul class="c-sidebar-nav">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/">
                    <i class="c-sidebar-nav-icon cil-speedometer"></i> Dashboard
                    </a>
                </li>

                <li class="c-sidebar-nav-title">Statistic</li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/light_system_statistic">
                    <i class="c-sidebar-nav-icon cil-bolt"></i> Light System
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/water_pump_system_statistic">
                    <i class="c-sidebar-nav-icon cil-drop"></i> Water Pump System
                    </a>
                </li>

                <li class="c-sidebar-nav-title">Utilities</li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/notification">
                    <i class="c-sidebar-nav-icon cil-layers"></i> Notification
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/light">
                    <i class="c-sidebar-nav-icon cil-lightbulb"></i> Light
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/water_pump">
                    <i class="c-sidebar-nav-icon cil-shower"></i> Water Pump
                    </a>
                </li>
            </ul>
            </div>

        <div class="c-wrapper">

            <header>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0 ms-2">
                        <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Utilities</span>
                        </li>
                        <li class="breadcrumb-item active"><span>Light</span></li>
                    </ol>
                    </nav>
                </div>
            </header>

            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">

                        <div class="card-deck">

                            <div class="card">
                                <div class="card-header"><strong>Current State</strong></div>

                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="c-callout c-callout-info b-t-1 b-r-1 b-b-1">
                                                <small class="text-muted">Light system</small><br>
                                                <strong id="textOn" class="h4">On</strong>
                                                <strong id="textOff" class="h4">Off</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="c-callout c-callout-danger b-t-1 b-r-1 b-b-1">
                                                <small class="text-muted">Light value</small><br>
                                                <strong id="textCurrentLightValue" class="h4"></strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">

                                    <p><strong class="card-text">Automatic mode</strong></p>

                                    <label class="c-switch c-switch-pill c-switch-primary">
                                        <input type="checkbox" class="c-switch-input" checked>
                                        <span class="c-switch-slider"></span>
                                    </label>

                                    <hr>

                                    <p class="card-text">Get the data of sensors and turn on/off light system automatically</p>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">

                                    <p><strong class="card-text">Switch</strong></p>

                                    <button type="button" onclick="turnOn()" class="btn btn-success"><span class="cil-power-standby btn-icon mr-2"></span> Turn on</button>
                                    <button type="button" onclick="turnOff()" class="btn btn-danger"><span class="cil-power-standby btn-icon mr-2"></span> Turn off</button>

                                    <hr>

                                    <p class="card-text">Turn on/off the light system manually</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <br>

                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas id="light_chart" height = "10rem" width = "20rem"></canvas>
                                </div>
                                <p class="card-text"><strong>State of light system per day</strong></p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            <footer class="c-footer">
                <%- include('partials/footer')%>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then CoreUI JS 
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
        -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="light.js"></script>
    </body>
</html>