<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head')%>
    </head>

    <body class="c-app">

        <div class="c-sidebar c-sidebar-dark c-sidebar-show c-sidebar-fixed">
            <%- include('partials/sidebar')%>
        </div>

        <div class="c-wrapper">

            <header>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0 ms-2">
                        <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Utilities</span>
                        </li>
                        <li class="breadcrumb-item active"><span>Prediction</span></li>
                    </ol>
                    </nav>
                </div>
            </header>

            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">

                        <div class="card-deck">

                            <div class="card border-danger">
                                <div class="card-header"><strong>Current State</strong></div>

                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="c-callout c-callout-info b-t-1 b-r-1 b-b-1">
                                                <small class="text-muted">Temperature (Celsius) </small><br>
                                                <strong id="textCurrentTempValue" class="h4"></strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="c-callout c-callout-danger b-t-1 b-r-1 b-b-1">
                                                <small class="text-muted">Humidity (%)</small><br>
                                                <strong id="textCurrentHumidValue" class="h4"></strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card border-warning">

                                <div class="card-header"><strong>Prediction</strong></div>

                                <!--
                                <p><strong class="card-text">Load model</strong></p>
                                <button type="button" onclick="loadData()" class="btn btn-info"><span class="cil-power-standby btn-icon mr-2"></span> Turn on</button>

                                <label for="fname">Soil value </label>
                                <input type="text" id="soil_value"><br><br>
                                <label for="lname">Light value </label>
                                <input type="text" id="light_value"><br><br>

                                <input type="submit" value="Submit Soil Data" onclick="proceedSoilData()">
                                <input type="submit" value="Submit Light Data" onclick="publishLightData()">
                                -->


                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="c-callout c-callout-primary b-t-1 b-r-1 b-b-1">
                                                <small class="text-muted">Rainfall (mm)</small><br>
                                                <strong id="predictedRainfall" class="h4"></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <br>

                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-body">
                                <p>hello</p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            <footer class="c-footer">
                <%- include('partials/footer')%>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then CoreUI JS 
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
        -->
        <script src="prediction.js"></script>
    </body>
</html>