<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head')%>
    </head>

    <body class="c-app">

        <div class="c-sidebar c-sidebar-dark c-sidebar-show">

            <div class="c-sidebar-brand d-lg-down-none">
                <img src="logo_bk.png" alt="logo_bk" style="width:150px;height:150px;">
            </div>

            <ul class="c-sidebar-nav">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/">
                    <i class="c-sidebar-nav-icon cil-speedometer"></i> Dashboard
                    </a>
                </li>

                <li class="c-sidebar-nav-title">Statistic</li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/light_system_statistic">
                    <i class="c-sidebar-nav-icon cil-bolt"></i> Light System
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/water_pump_system_statistic">
                    <i class="c-sidebar-nav-icon cil-drop"></i> Water Pump System
                    </a>
                </li>

                <li class="c-sidebar-nav-title">Utilities</li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/notification">
                    <i class="c-sidebar-nav-icon cil-layers"></i> Notification
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/light">
                    <i class="c-sidebar-nav-icon cil-lightbulb"></i> Light
                    </a>
                </li>

                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/water_pump">
                    <i class="c-sidebar-nav-icon cil-shower"></i> Water Pump
                    </a>
                </li>
            </ul>
            </div>

        <div class="c-wrapper">

            <header>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0 ms-2">
                        <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Statistic</span>
                        </li>
                        <li class="breadcrumb-item active"><span>Water Pump System</span></li>
                    </ol>
                    </nav>
                </div>
            </header>

            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">

                        <div class="card">
                            <div class="card-body">

                                <canvas id="water_pump_chart"></canvas>

                                <p class="card-text">Representing the state of water pump system</p>
                                <!--
                                <button type="button" onclick="loadWaterPumpChart()" class="btn btn-primary"><span class="cil-chart btn-icon mr-2"></span> Load chart</button>
                                -->
                            </div>
                        </div>

                    </div>
                </main>
            </div>

            <footer class="c-footer">
                <%- include('partials/footer')%>
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then CoreUI JS -->
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="water_pump_graph.js"></script>
    </body>
</html>